<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <img src="https://img.icons8.com/fluent/64/000000/design.png"/>
    <img src="https://img.icons8.com/dusk/64/000000/user-group-man-woman.png"/>
    <p>Design is one of the most important parts of the continuous software development process. With a good design comes project success as well as efficient maintainable code. It is this reason while I highly value design, and consequently have worked to improve my skills in Unified Modeling Language as well as collaborative design in team environments</p>
  </div>
  <div class="tech">
    <h2>Technologies</h2>
    <img src="https://img.icons8.com/color/64/000000/c-plus-plus-logo.png"/>
    <img src="https://img.icons8.com/wired/64/000000/java-coffee-cup-logo.png"/>
    <img src="https://img.icons8.com/color/64/000000/python.png"/>
    
    <p>I am most comfortable in C++, Java, and Python but I have worked good amounts in the past with C#, Progress OpenEdge ABL/4GL, C, Git, NPM, Linux, Docker, CircleCI, Grafana, SonarQube, Pandas, Dask, Flask, ASP.NET, Amazon Web Services, Google Cloud, React Native, Scaled Agile Framework, and more!</p>
  </div>
  <div class="tech">
    <h2>Resume</h2>
    
    <img src="https://img.icons8.com/officel/80/000000/open-resume.png">
    <p>If you are interested in learning more about me and my prior work experiences, you can download my resume right <b><a href="/MorganSandlerResume.pdf">here</a></b>!</p>
  </div>
</div>

